/* reset */
*{-webkit-text-size-adjust:none}
body,html{height:100%}
body,button,dd,div,dl,dt,fieldset,form, 
h1,h2,h3,h4,h5,h6, 
input,li,ol,p,select,td,textarea,th,ul{margin:0;padding:0;font-family:HelveticaNeue-Light AppleSDGothicNeo-Light,Malgun Gothic,sans-serif;font-weight:normal}

/* common */
.screen-out{position:absolute;width:1px;height:1px;margin:-1px;overflow:hidden;-webkit-clip-path:polygon(0 0, 0 0, 0 0);clip-path:polygon(0 0, 0 0, 0 0)}

/* scroll */
.scroll-progress{display:none;position:fixed;top:0;right:20px;z-index:999;padding:5px 8px;border-radius:3px;background-color:#fff;color:#000;mix-blend-mode:difference}
.scroll-progress:after{content:'';position:absolute;top:50%;right:-8px;width:0;height:0;margin-top:-4px;border:4px solid transparent;border-left-color:#000}
.scroll-down{position:fixed;bottom:14px;left:50%;z-index:1;width:44px;height:44px;margin-left:-22px;-webkit-animation:bounce 1.7s infinite linear;animation:bounce 1.7s infinite linear;mix-blend-mode:difference}
@-webkit-keyframes bounce {
    0%,100%,20%,50%,80%{-webkit-transform:translateY(0);-ms-transform: translateY(0);transform:translateY(0)}
    40%{-webkit-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px)}
    60%{-webkit-transform:translateY(-5px);-ms-transform: translateY(-5px);transform: translateY(-5px)}
}
@keyframes bounce {
    0%,100%,20%,50%,80%{-webkit-transform:translateY(0);-ms-transform: translateY(0);transform:translateY(0)}
    40%{-webkit-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px)}
    60%{-webkit-transform:translateY(-5px);-ms-transform: translateY(-5px);transform: translateY(-5px)}
}
.motion-section {display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction: normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}

/* text-hover-motion */
.text-hover-motion *{font-family:'Work Sans',sans-serif;cursor:none}
.text-hover-motion .motion-section-inner{position:relative;width:100%}
.text-hover-motion .cursor{position:relative;z-index:1;width:20px;height:20px;margin:-10px 0 0 -10px;border-radius:50%;background-color:#112B3C;will-change:transform;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;pointer-events:none}
.text-hover-motion .circle-wrap{overflow:hidden;position:relative;width:100%;height:100vh;background-color:#112B3C;}
.text-hover-motion .circle{position:absolute;border-radius:50%;will-change:transform}
.text-hover-motion .circle-big {width:650px;height:650px;margin:-325px 0 0 -325px;background-color:#5800FF}
.text-hover-motion .circle-medium {width:440px;height:440px;margin:-220px 0 0 -220px;background-color:#FFC600;}
.text-hover-motion .circle-small {width:270px;height:270px;margin:-135px 0 0 -135px;background-color:#F806CC}
.text-hover-motion .text-wrap {display:-webkit-box;display:-ms-flexbox;display:flex;position:absolute;top:0;left:0;width:100%;height:100%;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background-color:#fff;mix-blend-mode:screen}
.text-hover-motion .text-item{font-weight:bold;font-size:200px}

/* text-paint-motion */
.text-paint-motion .motion-section{background-color:#fff}
.text-paint-motion .text-item{position:relative;font-weight:bold;font-size:96px}
.text-paint-motion .text-item .painted{position:absolute;top:0;left:0;width:100%;height:100%;-webkit-clip-path:inset(0% 100% 0% 0%);clip-path:inset(0% 100% 0% 0%);background:-webkit-gradient(linear,left top, right top,from(#2e1f7c),to(#6652e1));background:-o-linear-gradient(left,#2e1f7c,#6652e1);background:linear-gradient(90deg,#2e1f7c,#6652e1);-webkit-background-clip:text;-webkit-text-fill-color:transparent}

/* text-rotate-motion */
.text-rotate-motion .motion-section {overflow: hidden;background-color:#000;color:#fff;text-align: center}
.text-rotate-motion .motion-section-inner{position:fixed;width:100%;height:100%;}
.text-rotate-motion .text-item {padding-bottom:60px;font-size:90px}

/* text-invert-motion */
.text-invert-motion{overflow-x: hidden}
.text-invert-motion .motion-section-inner{position:relative}
.text-invert-motion .text-area{position:absolute;width:100vw;height:100vh;background-color:#fff}
.text-invert-motion .text-item{font-size:200px;line-height:1;text-transform:uppercase;-webkit-transform: translateX(20%);transform: translateX(20%);}
.text-invert-motion .text-item02{padding-left:15%;}
.text-invert-motion .text-item03{transform: translateX(10%);}
.text-invert-motion .text-item03 span + span{padding-left:100px;}
.text-invert-motion .after{overflow: hidden;position: relative; z-index:1;background: #000;color: #fff}
.text-invert-motion .text-wrap{display: -webkit-box;display: -ms-flexbox;display: flex;width: 100%;height: 100%;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;}
.text-invert-motion .after .mask {position: absolute;top: 0;left: 0;width: 100%;height: 100%;-webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%)}

/* 1440px 이하 */
@media all and (max-width:1440px) {
	/* scroll */
	.scroll-progress{right:1.389vw;padding:0.347vw 0.556vw;border-radius:0.208vw}
	.scroll-progress:after{right:-0.556vw;margin-top:-0.278vw;border:0.278vw solid transparent}

    /* text-hover-motion */
    .text-hover-motion .cursor{width:1.389vw;height:1.389vw;margin:-0.694vw 0 0 -0.694vw}
    .text-hover-motion .circle-big {width:45.139vw;height:45.139vw;margin:-22.569vw 0 0 -22.569vw}
    .text-hover-motion .circle-medium {width:30.556vw;height:30.556vw;margin:-15.278vw 0 0 -15.278vw}
    .text-hover-motion .circle-small {width:18.75vw;height:18.75vw;margin:-9.375vw 0 0 -9.375vw}
    .text-hover-motion .text-item{font-size:13.889vw}

	/* text-rotate-motion */
	.text-rotate-motion .text-item {padding-bottom:4.1667vw;font-size:6.2500vw}

    /* text-paint-motion */
    .text-paint-motion .text-item{font-size:6.667vw}
}

