body {
    background-color: black;
    background-image: -webkit-gradient(radial,
            50% 500, 1,
            50% 500, 400,
            from(rgba(255, 255, 255, 0.3)),
            to(rgba(255, 255, 255, 0)));
    background-repeat: no-repeat;
    font-family: 'Lucida Grande', Verdana, Arial;
    font-size: 12px;
    color: white;
}

#container {
    width: 100%;
    height: 700px;
    -webkit-perspective: 800;
            perspective: 800;
    -webkit-perspective-origin: 50% 225px;
            perspective-origin: 50% 225px;
}

.stage {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    -o-transition: transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.panel-item {
    overflow: hidden;
    position: absolute;
    height: 200px;
    width: 200px;
    border: 1px solid white;
    border-radius: 12px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    transition: -webkit-transform 2s, opacity 2s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    font-family: Times, serif;
    font-size: 124pt;
    color: black;
  }

.backfaces .panel-item {
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
}

.panel-shape {
    position: relative;
    top: 160px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-animation: spin 8s infinite linear;
            animation: spin 8s infinite linear;
}

.panel-shape .item01 {
    -webkit-transform: translateZ(380px);
            transform: translateZ(380px);
}

.panel-shape .item02 {
    -webkit-transform: rotateY(30deg) translateZ(380px);
            transform: rotateY(30deg) translateZ(380px);
}

.panel-shape .item03 {
    -webkit-transform: rotateY(60deg) translateZ(380px);
            transform: rotateY(60deg) translateZ(380px);
}

.panel-shape .item04 {
    -webkit-transform: rotateY(90deg) translateZ(380px);
            transform: rotateY(90deg) translateZ(380px);
}

.panel-shape .item05 {
    -webkit-transform: rotateY(120deg) translateZ(380px);
            transform: rotateY(120deg) translateZ(380px);
}

.panel-shape .item06 {
    -webkit-transform: rotateY(150deg) translateZ(380px);
            transform: rotateY(150deg) translateZ(380px);
}

.panel-shape .item07 {
    -webkit-transform: rotateY(180deg) translateZ(380px);
            transform: rotateY(180deg) translateZ(380px);
}

.panel-shape .item08 {
    -webkit-transform: rotateY(210deg) translateZ(380px);
            transform: rotateY(210deg) translateZ(380px);
}

.panel-shape .item09 {
    -webkit-transform: rotateY(-120deg) translateZ(380px);
            transform: rotateY(-120deg) translateZ(380px);
}

.panel-shape .item10 {
    -webkit-transform: rotateY(-90deg) translateZ(380px);
            transform: rotateY(-90deg) translateZ(380px);
}

.panel-shape .item11 {
    -webkit-transform: rotateY(300deg) translateZ(380px);
            transform: rotateY(300deg) translateZ(380px);
}

.panel-shape .item12 {
    -webkit-transform: rotateY(330deg) translateZ(380px);
            transform: rotateY(330deg) translateZ(380px);
}